img {
    height: 190px;
    width: 200px;
    padding: 16px;
}

button {
    color: white
}

p {
    color: rgb(52, 73, 94);
}

b {
    color: rgb(44, 62, 80);
}

i {
    margin-left: 75%;
    width: 100px;
}
